<p id="notice"><%= notice %></p>

<p>
  <strong>Level up:</strong>
  <%= @rocket_part.level_up %>
</p>

<%= link_to 'Edit', edit_rocket_part_path(@rocket_part) %> |
<%= link_to 'Back', rocket_parts_path %>
