.footer {
  align-items: center;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .6rem;
  position: fixed;
  right: 1rem;

  .rocket-infos {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .7);

    img {
      bottom: 0;
      box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
      height: 10rem;
      object-fit: cover;
      position: absolute;
      transition: all .3s ease;
      right: 0;
      width: 10rem;
      z-index: -1;
    }
  }

  .live {
    align-items: center;
    bottom: 9rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 2rem;
    transition: all .3s ease;

    .badge {
      background: red;
      border-radius: .3rem;
      height: .6rem;
      margin-right: .4rem;
      width: .6rem;
    }
  }

  &:hover {
    img {
      height: 20rem;
      width: 20rem;
    }

    .live {
      bottom: 19rem;
    }
  }
}
