.footer {
  align-items: center;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .6rem;
  position: absolute;
  right: 1rem;

  .rocket-infos {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .7);

    img {
      bottom: 0;
      box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
      position: absolute;
      height: 10rem;
      transition: all .3s ease;
      right: 0;
      width: 10rem;
      z-index: -1;
    }
  }

  &:hover {
    img {
      height: 20rem;
      width: 20rem;
    }
  }
}
