.header {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #D7DBDD;
  background-color: #FCFDFD;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .ressources {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25rem;

    .ressource {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .value {
      }
    }
  }
}
