.header {
  align-items: center;
  background-color: #FCFDFD;
  border-bottom: 1px solid #D7DBDD;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;

  .ressources {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25rem;

    .ressource {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .navbar-links {
    align-items: center;
    display: flex;
    flex-direction: row;

    a {
      color: #555;
      margin: 0 1rem;
      text-decoration: none;
    }
  }
}
