.leaderboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;

  .rocket {
    align-items: center;
    background: #fefefe;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 20rem;
    max-width: 30rem;
    padding: 1rem 2rem;
    width: 100%;

    img {
      height: 10rem;
      object-fit: contain;
    }

    h2 {
      font-size: 2rem;
      margin: 1rem 0;
    }

    h3 {
      color: #acacac;
      font-size: 1.6rem;
    }
  }
}
