.sidebar {
  width: 250px;
  height: 100%;
  border-right: 1px solid #D7DBDD;
  background-color: #FCFDFD;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .rocket-infos {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    img {
      height: 5rem;
      object-fit: contain;
      width: 5rem;
    }
  }

  .ressources {

    .ressource {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .value {
      }
    }
  }

  .parts {
    .part {
      margin-top: 40px;

      .part-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
      }

      .part-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;

        .part-upgrade {
          .cost {
            text-align: center;
          }
        }
      }


    }
  }
}

.part-upgrade-button {
  border-radius: 10px;
}
